<!-- Main section -->
<div class="row">
	<div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center">	
		<h1 class="title text-shadows">EcoPestilence</h1>
		<h2 class="subtitle">Eco-Responsible Pest Control</h2>
		<h3 class="tagline">Coming Soon.</h3>
	</div> <!-- end col -->
</div> <!-- end row -->

<!-- Contact section -->
<section class="contact">
	<div class="container">	
		<h4 class="text-center subtitle text-shadows">Get in touch</h4>
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2 text-center">
				<p>Feel free to email or drop us a line on Facebook, Google + or Yelp!</p>
				<p><b><a href="mailto:info@ecopestilence.com?subject=SiteInquiry">info@ecopestilence.com</a></b><br><br></p>
				<ul class="list-inline list-social">
					<li><a href="https://www.facebook.com/pages/Eco-Pestilence/718259088208589" target="_blank" class="btn btn-link"><i class="fa fa-facebook-square fa-fw"></i> Facebook</a></li>
					<li><a href="https://plus.google.com/100772013232984299186/posts" target="_blank" class="btn btn-link"><i class="fa fa-google-plus-square fa-fw"></i> Google +</a></li>
					<li><a href="http://www.yelp.com/biz/eco-pestilence-brea" target="_blank" class="btn btn-link"><i class="fa fa-yelp fa-fw"></i> Yelp</a></li>
				</ul>
			</div> <!-- end col -->
		</div> <!-- end row -->
	</div> <!-- end container -->
</section>