/ Main section
.row
  .col-md-10.col-lg-10.col-md-offset-1.col-lg-offset-1.text-center
    %h1.title.text-shadows EcoPestilence
    %h2.text-shadows Eco-Responsible Pest Control
    %h3.text-shadows For service call (855) 532-6737
  / end col
/ end row
/ Contact section
%section.contact
  .container
    %h4.text-center.subtitle.text-shadows Get in touch
    .row
      .col-sm-8.col-sm-offset-2.text-center
        %p Feel free to email or drop us a line on Facebook, Google + or Yelp!
        %p
          %b
            %a{:href => "mailto:info@ecopestilence.com?subject=SiteInquiry"} ecopestilence@gmail.com
          %br/
          %br/
        %ul.list-inline.list-social
          %li
            %a.btn.btn-link{:href => "https://www.facebook.com/pages/Eco-Pestilence/718259088208589", :target => "_blank"}
              %i.fa.fa-facebook-square.fa-fw
              Facebook
          %li
            %a.btn.btn-link{:href => "https://plus.google.com/100772013232984299186/posts", :target => "_blank"}
              %i.fa.fa-google-plus-square.fa-fw
              Google +
          %li
            %a.btn.btn-link{:href => "http://www.yelp.com/biz/eco-pestilence-brea", :target => "_blank"}
              %i.fa.fa-yelp.fa-fw
              Yelp
      / end col
    / end row
  / end container
